<div class="row">
  <div class="col-md-4 mx-auto" style="border: solid white; ">
    <div class="wrapper fadeInDown" style="width: 100% important; padding: 0% !important;">
      <div id="formContent">
        <!-- Tabs Titles -->

        <div class="card">
          <div class="header">
            <h2>Onboarding</h2>
            <hr />
          </div>
          <div class="card-body" style="padding: 0% !important;">
            <!-- Login Form -->
            <form autocomplete="off" style="padding: 0% !important;">
              <div>
                <input
                  type="text"
                  class="fadeIn second"
                  name="Nombre"
                  placeholder="Nombre"
                />
                <!-- <small>El nombre es requerido</small> -->
              </div>

              <div>
                <input
                  type="text"
                  class="fadeIn second"
                  name="App"
                  placeholder="Apellido Paterno"
                />
                <!-- <small>Valor requerido</small> -->
              </div>
              <div>
                <input
                  type="text"
                  class="fadeIn second"
                  name="App"
                  placeholder="Apellido Materno"
                />
                <!-- <small>Valor requerido</small> -->
              </div>
              <div>
                <input
                  type="text"
                  class="fadeIn second"
                  name="App"
                  placeholder="identificación"
                />
                <!-- <small>Valor requerido</small> -->
              </div>
            </form>
          </div>
        </div>

        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover" href="#">Ingresar</a>
        </div>
      </div>
      <div class="mx-auto" style="color: white">
        <h1>7OC</h1>
      </div>
      <div class="mx-auto" style="color: white">
        <label>Biometric</label>
      </div>
    </div>
  </div>
</div>
