<div class="row">
  <div class="col-md-8 mx-auto">
    <div
      class="wrapper animate__animated animate__fadeInDown p-3"
      style="width: 100% important"
    >
      <div id="formContent">
        <!-- Tabs Titles -->

        <div class="card">
          <div class="header">
            <h2>Onboarding</h2>
            <hr />
          </div>
          <div class="card-body" style="padding: 0% !important">
            <!-- Login Form -->
            <form
              [formGroup]="form"
              (ngSubmit)="Guardar()"
              autocomplete="off"
              style="padding: 0% !important"
            >
              <div class="row m-0">
                <div class="col-md-12">
                  <div
                    class="datos-onboarding"
                    *ngIf="vistaActiva === eVista.DatosOnboarding"
                  >
                    <div>
                      <div>
                        <input
                          type="text"
                          class="fadeIn second"
                          name="Nombre"
                          placeholder="Nombre"
                          formControlName="nombre"
                        />
                        <div *ngIf="EsNombreValido">
                          <p class="animate__animated animate__fadeInDown">
                            <small>El nombre es requerido *</small>
                          </p>
                        </div>
                      </div>

                      <div>
                        <input
                          type="text"
                          class="fadeIn second"
                          name="App"
                          formControlName="app"
                          placeholder="Apellido Paterno"
                        />
                        <div *ngIf="EsAppValido">
                          <p class="animate__animated animate__fadeInDown">
                            <small>El apellido paterno es requerido *</small>
                          </p>
                        </div>
                      </div>
                      <div>
                        <input
                          type="text"
                          class="fadeIn second"
                          name="App"
                          formControlName="apm"
                          placeholder="Apellido Materno"
                        />
                        <div *ngIf="EsApmValido">
                          <p class="animate__animated animate__fadeInDown">
                            <small>El apellido materno es requerido *</small>
                          </p>
                        </div>
                      </div>
                      <div>
                        <!-- <input
                          type="text"
                          class="fadeIn second"
                          name="App"
                          placeholder="identificación"
                        /> -->

                        <div>
                          <select
                            class="fadeIn second"
                            formControlName="identi"
                          >
                            <option value="">
                              Selecciona una identificación
                            </option>
                            <option
                              *ngFor="let item of identificiones"
                              [ngValue]="item"
                            >
                              {{ item.name }}
                            </option>
                          </select>

                          <div *ngIf="EsIdentificacionValida">
                            <p class="animate__animated animate__fadeInDown">
                              <small
                                >Se debe seleccionar una identificación*</small
                              >
                            </p>
                          </div>
                        </div>
                        <!-- <small>Valor requerido</small> -->
                      </div>
                    </div>
                  </div>

                  <div
                    class="captura-identificacion"
                    *ngIf="vistaActiva === eVista.CapturaID"
                  >
                   
                    <h5>{{ identificacionSeleccionada.name }}</h5>

                    <div class="row">
                      <div class="col col-md-6 mx-auto" >
                        <app-captura-identi 
                          [identificacion]="identificacionSeleccionada"
                          [lado]="ladoFrontal"
                          (propagar)="setTokenFrontal($event)"
                        ></app-captura-identi>
                      </div>
                    </div>
                  </div>

                  <div
                    class="captura-liveness"
                    *ngIf="vistaActiva === eVista.CapturaLiveness"
                  >
                    <app-captura-liveness
                      (selfieToken)="setTokenSelfie($event)"
                      (propagarTokenSelfie)="setTokenSelfie($event)"
                      (propagarSelfie)="setSelfie($event)"
                    ></app-captura-liveness>
                  </div>

                  <!--Confirmar datos-->
                  <div *ngIf="vistaActiva === eVista.ConfirmaDatos">
                    <app-confirma-datos  
                    [datosCapturados]="datosOnboarding"></app-confirma-datos>
                  </div>
                  <!--/Confirmar datos-->

                </div>
              </div>

              <div id="formFooter">
                <!-- <input type="submit" class="fadeIn fourth" value="Guardar"> -->
                <div class="row">
                  <div class="col-md-12">
                    <button
                      [disabled]="form.invalid"
                      *ngIf="vistaActiva == eVista.DatosOnboarding"
                      type="submit"
                      class="btn btn-info"
                    >
                      Siguiente
                      <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </button>

                    <!--Boton identificacion-->
                    <button
                      [disabled]="!botonActivo"
                      type="submit"
                      *ngIf="vistaActiva == eVista.CapturaID"
                      class="btn btn-info"
                    >
                      Siguiente
                      <i
                        class="fa fa-arrow-right"
                        aria-hidden="true"
                      ></i></button
                    ><!--/Boton identificacion-->

                    <!--Boton Selfie-->
                    <button
                      [disabled]="! datosOnboarding.selfie.capturaExitosa"
                      type="submit"
                      *ngIf="vistaActiva == eVista.CapturaLiveness"
                      class="btn btn-info"
                    >
                      Siguiente
                      <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </button>
                    <!--/Boton Selfie-->
                  </div>
                  <div class="col-md-12">
                    <button
                      class="btn btn-link"
                      *ngIf="
                        vistaActiva == eVista.CapturaID ||
                        vistaActiva == eVista.CapturaLiveness
                      "
                      (click)="vistaAnterior()"
                    >
                      <i class="fa fa-arrow-left" aria-hidden="true"></i>
                      Regresar
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
