<div class="row">
  <div class="col-md-8 mx-auto">
    <div
      class="wrapper animate__animated animate__fadeInDown p-3"
      style="width: 100% important;"
    >
      <div id="formContent">
        <!-- Tabs Titles -->

        <div class="card">
          <div class="header">
            <h2>Onboarding</h2>
            <hr />
          </div>
          <div class="card-body" style="padding: 0% !important">
            <!-- Login Form -->
            <form 
              [formGroup] = "form"
              (ngSubmit) = "Guardar()"
              autocomplete="off" 
              style="padding: 0% !important">

              <div class="row m-0">
                <div class="col-md-8">
                  <div>
                    <input
                      type="text"
                      class="fadeIn second"
                      name="Nombre"
                      placeholder="Nombre"
                      formControlName = "nombre"
                    />
                    <div *ngIf="EsNombreValido">
                      <p class="animate__animated animate__fadeInDown" >
                        <small>El nombre es requerido *</small>
                      </p>
                    </div>
                  </div>
    
                  <div>
                    <input
                      type="text"
                      class="fadeIn second"
                      name="App"
                      formControlName = "app"
                      placeholder="Apellido Paterno"
                    />
                    <div *ngIf="EsAppValido">
                      <p class="animate__animated animate__fadeInDown" >
                        <small>El apellido paterno es requerido *</small>
                      </p>
                    </div>
                  </div>
                  <div>
                    <input
                      type="text"
                      class="fadeIn second"
                      name="App"
                      formControlName = "apm"
                      placeholder="Apellido Materno"
                    />
                    <div *ngIf="EsApmValido">
                      <p class="animate__animated animate__fadeInDown" >
                        <small>El apellido materno es requerido *</small>
                      </p>
                    </div>
                  </div>
                  <div>
                    <input
                      type="text"
                      class="fadeIn second"
                      name="App"
                      placeholder="identificación"
                    />
                    <!-- <small>Valor requerido</small> -->
                  </div>
                </div>
                <div class="col-md-4">
                  <div 
                    class="toc-autocapture-camera" 
                    id="container_" 
                    style="height: 250px; border: solid lightgray 1px;">
                   
                  </div>
                </div>
              </div>

            


           

              <div id="formFooter">
                <!-- <input type="submit" class="fadeIn fourth" value="Guardar"> -->
                <button 
                  [disabled]="form.invalid"
                  type="submit"
                  class="btn btn-info" 
                  style="width: 100%">
                  Guardar <i class="fa fa-save" aria-hidden="true"></i>
                </button>
              </div>
           
           
           
            </form>

           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
