<div class="row">
  <div class="col-md-6">
    <img class="img-thumbnail" width="250" height="300" [src]="imagenFrontal" />
  </div>
  <div class="col-md-6">
    <img class="img-thumbnail" width="250" height="300" [src]="imagenTrasera" />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div
      id="contenedor2"
      class="w-75 mx-auto"
      style="background-color: red; height: 350px"
    ></div>
  </div>

  <div class="col-md-12 mx-auto mt-2 mb-2">
    <p>
      Identificación: <strong>{{ identificacion.name }}</strong>
    </p>
  </div>
  <div class="col-md-12 mx-auto mt-2 mb-2">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button
        type="button"
        (click)="CapturarIdentificacion('front')"
        class="btn btn-secondary"
      >
        Capturar frente

        <i
          class="fa fa-camera"
          *ngIf="statusFrontal == statusCaptura.SinCapturar"
          aria-hidden="true"
        ></i>

        <i
          class="fa fa-check-circle-o text-success"
          *ngIf="statusFrontal == statusCaptura.CapturaExitosa"
          aria-hidden="true"
        ></i>

        <i
          class="fa fa-times text-danger"
          *ngIf="statusFrontal == statusCaptura.CarturaFallada"
          aria-hidden="true"
        ></i>
      </button>

      <button
        type="button"
        (click)="CapturarIdentificacion('back')"
        class="btn btn-secondary"
        (click)="statusFrontal = statusCaptura.CapturaExitosa"
      >
        Capturar reverso

        <i
          class="fa fa-camera"
          *ngIf="statusTrasera == statusCaptura.SinCapturar"
          aria-hidden="true"
        ></i>

        <i
          class="fa fa-check-circle-o text-success"
          *ngIf="statusTrasera == statusCaptura.CapturaExitosa"
          aria-hidden="true"
        ></i>

        <i
          class="fa fa-times text-danger"
          *ngIf="statusTrasera == statusCaptura.CarturaFallada"
          aria-hidden="true"
        ></i>
      </button>

      <button type="button" class="btn btn-success" (click)="ObtenerToken()">
        Crear Token
      </button>
    </div>
    <input type="text" id="txt-token" value="{{ tocToken }}" />
  </div>
</div>
