
<div class="row">
    <div class="col-md-12">
        <div class="card mx-auto" style="width: 15em;">
            <img *ngIf="!tokenExitoso" class="card-img-top" src="./assets/img/reconocimiento_facial.png" alt="Card image cap">
            <img  *ngIf="tokenExitoso" class="card-img-top" [src]="imagenCapturada" alt="Card image cap">
            <div class="card-body">
              <!-- <h3 class="card-title">Captura tu selfie</h3> -->
              <!-- <h5 
              *ngIf="selfieExitosa"
              class="card-title text-success animate__animated animate__fadeInDown">
              Captura éxitosa
              <i class="fa fa-check-circle-o" aria-hidden="true"></i>
            </h5> -->
              <button 
              (click)="capturar(); $event.preventDefault()"
              class="btn btn-primary">Capturar imagen 
              <i 
              *ngIf="statusCaptura == eStatusCaptura.SinCapturar"
                class="fa fa-camera" aria-hidden="true"></i>
    
              <i
              class="fa fa-check-circle-o text-success"
              *ngIf="statusCaptura == eStatusCaptura.CapturaExitosa"
              aria-hidden="true"
            ></i>
    
            <i
              class="fa fa-times text-danger"
              *ngIf="statusCaptura == eStatusCaptura.CarturaFallada"
              aria-hidden="true"
            ></i>


               </button>

               <button 
                style="display: none;"
                id="btn-confirmar" 
                (click) = "$event.preventDefault()">
              click me!</button>
            </div>
          </div>
    </div>
</div>


<div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Captura</h5>
        </div>
        <div class="modal-body" id="liveness">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <p>Espere un momento por favor...</p>
        </div>
      </div>
    </div>
  </div>


  