

<div class="datos-onboarding">
    <div>
      <input
        type="text"
        class="fadeIn second"
        name="Nombre"
        placeholder="Nombre"
        formControlName = "nombre"
      />
      <div *n>
        <p class="animate__animated animate__fadeInDown" >
          <small>El nombre es requerido *</small>
        </p>
      </div>
    </div>

    <div>
      <input
        type="text"
        class="fadeIn second"
        name="App"
        formControlName = "app"
        placeholder="Apellido Paterno"
      />
      <div>
        <p class="animate__animated animate__fadeInDown" >
          <small>El apellido paterno es requerido *</small>
        </p>
      </div>
    </div>
    <div>
      <input
        type="text"
        class="fadeIn second"
        name="App"
        formControlName = "apm"
        placeholder="Apellido Materno"
      />
      <div>
        <p class="animate__animated animate__fadeInDown" >
          <small>El apellido materno es requerido *</small>
        </p>
      </div>
    </div>
    <div>
      <input
        type="text"
        class="fadeIn second"
        name="App"
        placeholder="identificación"
      />
      <!-- <small>Valor requerido</small> -->
    </div>
  </div>
 