<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="./assets/img/angular.png" id="icon" alt="User Icon" height="250"/>
      </div>
  
      <!-- Login Form -->
      <form>
        <input 
        type="text"
         id="login" 
         class="fadeIn second" 
         name="email" 
         placeholder="email">
        <!-- <input type="text" id="password" class="fadeIn third" name="login" placeholder="password"> -->


        <div class="mx-auto reconocimiento"></div>
        <div class="mx-auto"> <small>Reconocimiento</small> </div>
        
        <!-- <input type="submit" class="fadeIn fourth" value="Log In"> -->
      </form>
      
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Ingresar</a>
      </div>
  
    </div>
    <div class="mx-auto" style="color: white;">
        <h1>7OC</h1>
   </div>
    <div class="mx-auto" style=" color: white;">
        <label>Biometric</label>
   </div>
</div>

