<div class="row">
  <div class="col-md-6 mx-auto">
    <div
      class="wrapper animate__animated animate__fadeInDown p-3"
      style="width: 100% important"
    >
      <div id="formContent">
        <!-- Tabs Titles -->

        <div class="card">
          <div class="header">
            <h2>Validaciones</h2>
            <hr />
          </div>
          <div class="card-body" style="padding: 0% !important">
            <!-- Login Form -->
            <form
              [formGroup]="form"
              (ngSubmit)="ValidarImagen()"
              autocomplete="off"
              style="padding: 0% !important"
            >
              <div class="m-0">
                <div class="mb-3">
                  <div class="mb-3">
                    <input
                      type="text"
                      class="fadeIn second"
                      name="correo"
                      placeholder="correo"
                      formControlName="correo"
                      id="txt-correo"
                    />
                    <div *ngIf="EsCorreoValido">
                      <p class="animate__animated animate__fadeInDown">
                        <small>El correo es requerido *</small>
                      </p>
                    </div>
                  </div>

                  <app-captura-liveness
                  (selfieToken)="setTokenSelfie($event)"
                  (propagarTokenSelfie)="setTokenSelfie($event)"
                 
                ></app-captura-liveness>

                </div>
              </div>

              <div id="formFooter">
                <!-- <input type="submit" class="fadeIn fourth" value="Guardar"> -->

                <button
                  [disabled]="form.invalid"
                  type="submit"
                  class="btn btn-info"
                  style="width: 100%"
                >
                  Validar <i *ngIf="! form.invalid" class="fa fa-search animate__animated animate__fadeInDown" aria-hidden="true"></i>
                </button>
              </div>
            </form>
            <!-- <button
              class="btn btn-info"
              style="width: 100%"
              id="btn-foto-validaciones"
            >
              Capturar <i class="fa fa-save" aria-hidden="true"></i>
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
