<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <div class="card">
      <div class="header">
          <h2>Onboarding</h2>
            <hr>
        </div>
      <div class="card-body">
        <!-- Login Form -->
        <form autocomplete="off">
          <input
            type="text"
            id="login"
            class="fadeIn second"
            name="Nombre"
            placeholder="Nombre"
          />
          <input
            type="text"
            id="login"
            class="fadeIn second"
            name="App"
            placeholder="Apellido Paterno"
          />
          <!-- <input type="text" id="password" class="fadeIn third" name="login" placeholder="password"> -->

          <!-- <input type="submit" class="fadeIn fourth" value="Log In"> -->
        </form>
        This is some text within a card body.
      </div>
    </div>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Ingresar</a>
    </div>
  </div>
  <div class="mx-auto" style="color: white">
    <h1>7OC</h1>
  </div>
  <div class="mx-auto" style="color: white">
    <label>Biometric</label>
  </div>
</div>
