<div class="row">
  <div class="col-md-6 mx-auto">
    <div
      class="wrapper animate__animated animate__fadeInDown p-3"
      style="width: 100% important"
    >
      <div id="formContent">
        <!-- Tabs Titles -->

        <div class="card">
          <div class="header">
            <h2>Validaciones</h2>
            <hr />
          </div>
          <div class="card-body" style="padding: 0% !important">
            <!-- Login Form -->
            <form
              [formGroup]="form"
              (ngSubmit)="CapturarImagen()"
              autocomplete="off"
              style="padding: 0% !important"
            >
              <div class="m-0">
                <div class="">
                  <div>
                    <input
                      type="text"
                      class="fadeIn second"
                      name="Nombre"
                      placeholder="Nombre"
                      formControlName="nombre"
                      id="txt-nombre"
                    />
                    <div *ngIf="EsNombreValido">
                      <p class="animate__animated animate__fadeInDown">
                        <small>El nombre es requerido *</small>
                      </p>
                    </div>
                  </div>

                  <div>
                    <input
                      type="text"
                      class="fadeIn second"
                      name="App"
                      formControlName="app"
                      placeholder="Apellido Paterno"
                    />
                    <div *ngIf="EsAppValido">
                      <p class="animate__animated animate__fadeInDown">
                        <small>El apellido paterno es requerido *</small>
                      </p>
                    </div>
                  </div>
                  <div>
                    <input
                      type="text"
                      class="fadeIn second"
                      name="App"
                      formControlName="apm"
                      placeholder="Apellido Materno"
                    />
                    <div *ngIf="EsApmValido">
                      <p class="animate__animated animate__fadeInDown">
                        <small>El apellido materno es requerido *</small>
                      </p>
                    </div>
                  </div>
                  <div>
                    <input
                      type="text"
                      class="fadeIn second"
                      name="App"
                      placeholder="Identificación"
                    />
                    <!-- <small>Valor requerido</small> -->
                  </div>
                </div>
              </div>

              <div id="formFooter">
                <!-- <input type="submit" class="fadeIn fourth" value="Guardar"> -->

                <button
                  [disabled]="form.invalid"
                  type="submit"
                  class="btn btn-info"
                  style="width: 100%"                
                >
                  Validar <i class="fa fa-camera" aria-hidden="true"></i>
                </button>
              </div>
            </form>
            <!-- <button
              class="btn btn-info"
              style="width: 100%"
              id="btn-foto-validaciones"
            >
              Capturar <i class="fa fa-save" aria-hidden="true"></i>
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Captura</h5>
      </div>
      <div class="modal-body" id="liveness">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <p>Espere un momento por favor...</p>
      </div>
    </div>
  </div>
</div>