
<section>
    <div class="container">
        <div class="row">
            <!--Profile Card 5-->
    		<div class="col-md-6 mt-6 mx-auto">
    		    <h3 class="mt-3 w-100 mb-5 float-left text-center"><strong>Bienvenido</strong></h3>

                <div class="card profile-card-5">
    		        <div class="card-img-block">
    		            <!-- <img class="card-img-top" src="https://images.unsplash.com/photo-1517832207067-4db24a2ae47c" alt="Card image cap"> -->
    		            <img class="card-img-top" [src]="http.cliente.cliente.imagenSeilfie" alt="Card image cap">
    		        </div>
                    <div class="card-body pt-0">
                    <h5 class="card-title mx-auto">{{http.cliente.cliente.nombre}} {{http.cliente.cliente.app}} {{http.cliente.cliente.apm}}</h5>
                    <p class="card-text mx-auto">{{http.cliente.cliente.correo}}</p>
                    
                    
                  </div>
                </div>
                
    		</div>
    		
    	
        </div>
    </div>
</section>

