
<section>
    <div class="container">
        <div class="row">
            <!--Profile Card 5-->
    		<div class="col-md-6 mt-6 mx-auto">
    		    <div class="card profile-card-5">
    		        <div class="card-img-block">
    		            <!-- <img class="card-img-top" src="https://images.unsplash.com/photo-1517832207067-4db24a2ae47c" alt="Card image cap"> -->
    		            <img class="card-img-top" [src]="datosCapturados.selfie.imagen" alt="Card image cap">
    		        </div>
                    <div class="card-body pt-0">
                    <h5 class="card-title">{{datosCapturados.nombre}} {{datosCapturados.app}} {{datosCapturados.apm}}</h5>
                    <p class="card-text">{{datosCapturados.correo}}</p>
                    <p class="card-text">{{datosCapturados.identificacionFrontal.tipoIdentificacion.name}}</p>
                    
                  </div>
                </div>
                <p class="mt-3 w-100 float-left text-center"><strong>Card with Floting Picture</strong></p>
    		</div>
    		
    	
        </div>
    </div>
</section>